<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030002" android:required="false" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="VERSE"
        android:hasCode="true"
        android:theme="@style/Theme.Verse">

        <activity
            android:name="org.libsdl.app.SDLActivity"
            android:label="VERSE"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:exported="true">
            <meta-data android:name="SDL_ENV.SDL_ANDROID_BLOCK_ON_PAUSE" android:value="1" />
            <meta-data android:name=" SDL_ENV.SDL_ANDROID_TRAP_BACK_BUTTON" android:value="1" />
            <meta-data android:name="com.epicgames.ue4.GameActivity.bUseExternalFilesDir" android:value="false" />
            <meta-data android:name="android.app.lib_name" android:value="verse" />
            <meta-data android:name="android.max_aspect" android:value="2.4" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>


