body {
  /* background: #333; */
  background: #000;
}

fabric-site, #site {
  padding: 0 1em 0 0;
}

#site .card {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#site .card .content .header {
  color: #fff;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#console {
  position: fixed;
  top: 0;
  left: 0;
  margin: 5%;
  width: 50%;
}

#tray {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5%;
}

#tray > i {
  cursor: pointer;
}

#modal {
  position: fixed;
  height: 20%;
  width: 60%;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

#dialogue, .dialogue {
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 90%;
  height: 10em;
  margin: 5% 5% 5% 5%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 5%;
  width: 90%;
  height: 5%;
}

#footer .content {
  padding: 0.5em;
}

#footer form {

}

#chat-close {
  margin: 0;
}

#overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 50em;
  max-height: 60%;
}

#overlay fabric-button.ui.button,
#overlay .button {
  text-align: left !important;
  justify-content: left;
}
