body {
  /* background: #333; */
  background: #000;
}

.hidden {
  display: none;
}

fabric-site, #site {
  padding: 0 1em 0 0;
}

fabric-card.dialogue {
  width: 100%;
  font-size: 1.2em;
}

fabric-chat-view {
  display: block;
  margin-bottom: 3em;
}

fabric-chat-log {
  width: 100%;
}

fabric-console {
  width: '100%';
}

fabric-footer {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 1em 1em 0;
  padding: 0;
}

fabric-motd {
  color: #fff !important;
}

verse-dialogue {
  position: fixed;
  top: 8em;
  left: 0;
  right: 0;
  margin: 0 1em 1em;
  padding: 0;
}

#site .card {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#site .card .content .header {
  color: #fff;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#console {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  margin: 5%;
}

#console fabric-card {
  height: 100%;
}

#tray {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5%;
}

#tray > i {
  cursor: pointer;
}

#modal {
  position: fixed;
  height: 20%;
  width: 60%;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

#footer {
  height: 100%;
}

.dialogue .content {
  display: inline-block;
}

#footer .content {
  padding: 1em;
}

#footer form {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

#chat-close {
  margin: 0;
}

#chat-input {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

#overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 50em;
  max-height: 60%;
}

#overlay fabric-button.ui.button,
#overlay .button {
  text-align: left !important;
  justify-content: left;
}
